**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
docs/examples/**/output*/**
docs/examples/**/*.jpg
docs/examples/**/*.ipynb_checkpoints/
**/x86_64/**
.idea/
.vscode/
.cache/
build/
dist/
docs/autodocs/source/bmtk.*.rst
**/*~
docs/tutorial/**/output/**
docs/tutorial/**/network/**
docs/tutorial/**/components/**
docs/tutorial/tutorial_tmp/**
docs/tutorial/sim_ch*
*$py.class
docs/autodocs/source/bmtk/
/.eggs
.tox
benchmarks/.asv