**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
docs/examples/**/output/**
docs/examples/**/*.jpg
docs/examples/**/*.ipynb_checkpoints/
**/x86_64/**
.idea/
.cache/
build/
dist/
docs/autodocs/source/bmtk.*.rst
**/*~