**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
*$py.class
**/*~
.idea/
.vscode/
.cache/
.tox
build/
dist/
docs/autodocs/source/bmtk/
docs/autodocs/source/*.ipynb
docs/examples/**/output*/**
docs/examples/**/*.jpg
docs/examples/**/*.ipynb_checkpoints/
docs/autodocs/source/bmtk.*.rst
docs/tutorial/**/output/**
docs/tutorial/**/network/**
!docs/tutorial/modeling_tut_2021/network/**
docs/tutorial/**/components/**
!docs/tutorial/modeling_tut_2021/components/**
docs/tutorial/tutorial_tmp/**
docs/tutorial/sim_ch*
docs/tutorial/sim_dyn_syn
examples/**/output*/**
examples/bio_simulated_annealing/updated_weights/*
/.eggs
benchmarks/.asv
**/x86_64/**
.conda/conda-bld/**/*
