language: python

matrix:
  include:
    - python: 3.6

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libopenmpi-dev

install:
  - pip install -r test_requirements.txt
  - pip install .

script:  
  - python setup.py test
