jsonschema>=2.6.0
pandas>=0.23.0
numpy>=1.16.2
six==1.11.0
h5py>=2.8.0
matplotlib>=2.2.3
enum; python_version <= "2.7"
scipy>=1.1.0
scikit-image>=0.14.0  # Only required for filternet, consider making optional
sympy>=1.1.0
mpi4py>=2.0.0
more-itertools==5.0.0; python_version <= "2.7"
pytest>=4.1.1