.bd-main .bd-content .bd-article-container {
    max-width: 100%;  /* default is 60em */
}

.bd-page-width {
    max-width: 100%;
}

.bd-sidebar {
    flex: 0 0 300px;
    max-width: 300px;
}

.navbar {
    max-width: 100%; 
}

.user-guide-example {
    background-color: lightcyan;
    font-family: "Garamond", Georgia, 'Times New Roman', Times, serif;
}

.sd-card-header .sd-card-text {
  color: black;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

.sd-card-body-custom {
      font-family: Georgia, serif;
      line-height: 1.2;
}
